// Colors
:root {
    // Plain colors
    --violet: #21092F;
    --purplish-gray: #8F8694;
    --light-gray: #DFDEE0;
    --white: #FFFFFF;
    --red: #FF5050;

    --gradient: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
}